<h1>Demo1#hello</h1>
<p>This is another hello html file in ruby!</p>

ID: <%= @id %><br/>
Next page:<%= @page.to_i + 1 %><br/>
<%= params[:id] %><br/>
<%= 1 + 1 %>
<% target = "world" %>
<%= "Hello #{target}" %>
<%  @array.each do |n| %>
	 <%= n %><br/>
	
<% end %>
<%= link_to("My first link", {:action => 'index'}) %>
